---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
            <!-- Social -->
        {% if page.social %}
          <div class="social">
            <div class="contact-icons">{% include social.liquid %}</div>

            <div class="contact-note">{{ site.contact_note }}</div>
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% comment %} <p class="desc">{{ page.subtitle }}</p> {% endcomment %}
    <p class="content" style="margin-bottom: 0px;font-size: 1.2em;">{{ page.subtitle }}</p> 
    {% comment %} <p class="content"> {{ page.affiliation }}</p>  {% endcomment %}
    <p></p>
  </header>

  <article>

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h3>
        Selected Publications & Preprints
        <a href="{{ '/publications/' | relative_url }}">[full list]</a>
      </h3>
      <p class="post-description">* denotes equal contribution; † denotes corresponding authors</p>
      {% include selected_papers.liquid %}
    {% endif %}
    
    
    
    <div class="clearfix">
      <h3>Experience</h3>
      {% comment %} <br> {% endcomment %}
        <table border="0">
                <tbody>
        <tr>
        <td width="80" style="vertical-align: middle; text-align: center;"><img src='../assets/img/shengshu.png' border="1" width="80%"></td>
        <td width="20"></td>
        <td> 
                <p style="margin: 0; padding: 0;"><strong>
            
            <a href=https://www.shengshu-ai.com/home target='_blank'>Shengshu Technology</a>
            </strong>
        </p>
            <p style="margin: 0; padding: 0;">Research Intern</p>
            
            
            <p style="font-size: 10pt; margin: 0; padding: 0;">2023.11 - 2024.07</p>
            <p style="font-size: 10pt; margin: 0; padding: 0;">Beijing, China</p>
            
        </td>  
        </tr>
        <tr height="10"></tr>
        </tbody>
        </table>



      <h3>Teaching</h3>
      <p></p>
      <ul>
        <li>2024 Fall, TA in STA 235 "Data Science for Business Applications", UT Austin, instructed by Prof. <a href="https://mingyuanzhou.github.io/">Mingyuan Zhou</a>.</li>
        <li>2023 Spring, TA in "Statistical Learning Theory and Applications", Tsinghua University, instructed by Prof. <a href="https://ml.cs.tsinghua.edu.cn/~jun/index.shtml">Jun Zhu</a>.</li>
      </ul>

      <h3>Miscellaneous</h3>
        <p>My slides for TSAIL reading group:</p>
        <ul>
          <li><a href="../assets/pdf/PEFT.pdf" target="_blank">Parameter Efficient Tuning for Transformers</a></li>
          <li><a href="../assets/pdf/CNLG.pdf" target="_blank">Controllable Neural Language Generation</a></li>
          <li><a href="../assets/pdf/ICL.pdf" target="_blank">Recent Advances in In-Context Learning</a></li>
          <li><a href="../assets/pdf/FM-Adaption.pdf" target="_blank">On Downstream Adaptation of Foundation Models</a></li>
          <li><a href="../assets/pdf/LongLM.pdf" target="_blank">On Long Context Language Modeling</a></li>
        </ul>
        <p>Other slides I made for presenting ML papers:</p>
        <ul>
          <li><a href="../assets/pdf/ContinuousCM.pdf" target="_blank">Continuous-Time Consistency Models</a></li>
        </ul> 
      
      <h3>Personal</h3>
        <p>I am an amateur saxophone and (bass) trombone player and I enjoy playing music &#127926 :-)</p>
    </div>


    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
